<section id="partner_detail_section"  data-transition="slideDown">
    <nav class="partner_nav">
        <a href="#" class="btn_back" data-icon="previous" data-target="back"></a>
        <a class="btn_share"  id="btn_share" href="#" ></a>
    </nav>
    <article class="active" id="partner_detail_article" data-scroll="true" >
        <div class="detail_wrap">
            <div class="detail_item">
                <div class="partner_detail_map">
                    <div id="partmap"></div>
                </div>
                <div class="detail_content">
                    <!--<h1 class="tit_partner">Davidwine Club</h1>
                    <p class="de_par_time">09:00_24:00</p>
                    <p class="de_par_mes mes1">广州市荔湾区华贵路1号贵贤上品A5 -1704</p>
                    <p class="de_par_mes mes2"><span>18068542682/456774544456774544456774544 </span><a class="btn_tele" href="#"></a></p>
                    <p class="de_par_mes mes3">DAVIDWINE COLLECTION－来自西 班牙法定产区DO JUMILLA自1918年 的时尚葡萄酒品牌中国区运营总部</p>
                    <div class="de_par_eve">
                        <p class="de_img_tit">Events.</p>
                        <img class="de_par_img" src="pics/p1.jpg" alt=""/>
                        <img class="de_par_img" src="pics/p2.jpg" alt=""/>
                        <img class="de_par_img" src="pics/p3.jpg" alt=""/>
                    </div>-->
                </div>
            </div>
            <!--<p class="pull-scroll">继续上拉到下一个商户</p>-->
        </div>
    </article>
	<article class="partner_route" id="partner_route_article" style="display:none;">
		<div class="route_shadow"></div>
		<div class="partner_detail_route">	</div>	
    </article>
    <script type="text/html" id="partner_share_template">
        <section id="partner_share_section" class="active">
            <nav class="share_nav close_share">
                <a href="#" class="btn_close"></a>
            </nav>
            <article class="share_active">
                <div class="share_wrap">
                    <ul class="lis_app">
                        {{each list as value i}}
                        {{if value.isBound}}
                        <li class="app app_no"><a href="#" class="app_ln{{i+1}}">{{value.name}}</a></li>
                        {{else}}
                        <li class="app"><a href="#" class="app_ln{{i+1}}">{{value.name}}</a></li>
                        {{/if}}
                        {{/each}}

                    </ul>
                </div>
                <div class="close_bg close_share"></div>
            </article>
        </section>
    </script>
	<script type="text/html" id="partner_route_template">
        
            <ul class="lis_route">
            	<li class="route_it"><a href="{{url[0]}}" class="route_ln">腾讯地图</a></li>
            	<li class="route_it"><a href="{{url[1]}}" class="route_ln">百度地图</a></li>
            	<li class="route_it"><a href="{{url[2]}}" class="route_ln">苹果地图</a></li>
            </ul>
			<a href="#" class="btn_route_close">取消</a>
        
    </script>
    <script type="text/html" id="partner_content_template">
        <h1 class="tit_partner">{{name}}</h1>
        <p class="de_par_time">{{duration}}</p>
        <p class="de_par_mes mes1">{{address}}</p>
        <p class="de_par_mes mes2"><span>{{phone}}</span><a class="btn_tele" href="tel:{{phone}}"></a></p>
        <p class="de_par_mes mes3">{{desc}}</p>
        {{if pics}}
        <div class="de_par_eve">
            <p class="de_img_tit">Events.</p>
            {{each pics as pic index}}
            <div class="de_par_wr"><img class="de_par_img" src="{{pic}}" alt=""/></div>
            {{/each}}
        </div>
        {{/if}}
    </script>
</section>