@charset "utf-8";
/* @author -------- zhuzhu~~~
 * @time   -------- 2014-12-19   17:35
 * @tool   -------- Sass                       */

/* var */
$bg:#000000;
$aColor:#ffffff;
$pColor:#62b5f4;

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol,
ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0;
  -webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;}
html{font-size:200%;-webkit-overflow-scrolling: touch;}
div { text-align: left; }
address, cite, em { font-style: normal; }
ul,ol{ list-style-type: none; }
fieldset, img { border: 0; }
label, button { cursor: pointer; }
select, input, textarea { font-size: 12px; line-height: 1.2em; }
body { height: 100%; background: $bg; font: 1rem/1.6em "\5b8b\4f53","Arial Narrow"; max-width: 750px;margin:0 auto;
  color: $pColor; -webkit-text-size-adjust: none; position:relative;}
a { text-decoration: none; color: $aColor; }
a:hover { color: $aColor; text-decoration: none; }
section, article, aside, header, footer, nav, dialog, figure, hgroup { -webkit-box-sizing:border-box;box-sizing:border-box;}
article, aside, header, footer, nav, dialog, figure, hgroup { display: block;}
figure { margin: 0; }
img{display: block;}
html,body{height:100%;}

/*font-fact*/
@font-face {
  font-family: 'palmassiregular';
  src: url('../fonts/palmassi-webfont.eot');
  src: url('../fonts/palmassi-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/palmassi-webfont.woff2') format('woff2'),
  url('../fonts/palmassi-webfont.woff') format('woff'),
  url('../fonts/palmassi-webfont.ttf') format('truetype'),
  url('../fonts/palmassi-webfont.svg#palmassiregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'jaguarjcbold';
  src: url('../fonts/jaguarjcbold-webfont.eot');
  src: url('../fonts/jaguarjcbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/jaguarjcbold-webfont.woff2') format('woff2'),
  url('../fonts/jaguarjcbold-webfont.woff') format('woff'),
  url('../fonts/jaguarjcbold-webfont.ttf') format('truetype'),
  url('../fonts/jaguarjcbold-webfont.svg#jaguarjcbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'jaguarjcbook';
  src: url('../fonts/jaguarjcbook-webfont.eot');
  src: url('../fonts/jaguarjcbook-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/jaguarjcbook-webfont.woff2') format('woff2'),
  url('../fonts/jaguarjcbook-webfont.woff') format('woff'),
  url('../fonts/jaguarjcbook-webfont.ttf') format('truetype'),
  url('../fonts/jaguarjcbook-webfont.svg#jaguarjcbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iconfont';
  src:url('../fonts/iconfont.eot?-er3jlq');
  src:url('../fonts/iconfont.eot?#iefix-er3jlq') format('embedded-opentype'),
  url('../fonts/iconfont.woff?-er3jlq') format('woff'),
  url('../fonts/iconfont.ttf?-er3jlq') format('truetype'),
  url('../fonts/iconfont.svg?-er3jlq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* module */
.clearfix{ zoom: 1; }
.clearfix:after{ content: ""; display: block; height: 0; line-height: 0; clear: both; visibility: hidden; }
.hide{text-indent: -9999px;}
.hidep{position: absolute;left:-9999px;}
.dot{overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.webfont{font-family: "jaguarjcbook";}
.iconfont{font-family: "iconfont";}
.xihei{font-family: "\534E\6587\7EC6\9ED1";}
.heiti{font-family: "\534E\6587\9ED1\4F53","microsoft yahei";}
.palmassi{font-family: "palmassiregular","\534E\6587\9ED1\4F53","microsoft yahei";}

.left_to_right{display: -webkit-box;display: -webkit-flex;-webkit-flex-flow: row;display: flex;
  flex-flow: row;-webkit-box-align:center; -webkit-align-items:center;align-items:center;}

.top_to_bottom{
  display: -webkit-box;display: -webkit-flex;display: flex;
  -webkit-box-direction: normal;-webkit-box-orient: vertical;-webkit-flex-direction: column;flex-direction: column;
  -webkit-box-align: center;-webkit-align-items:center;align-items:center;
  -webkit-box-pack: center;-webkit-justify-content:center;justify-content:center;
}

.justify{-webkit-box-pack:justify;-webkit-justify-content: space-between;justify-content: space-between;}
.abs_ver_cen{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);position: absolute;top:50%;}



/*menu*/
.eng{font-family: "jaguarjcbook";}
.section_container{background: #000000;position: absolute;overflow:hidden;z-index: 3;top:0;left:0;right:0;bottom:0;min-height: 100%;height: 100%;}
.header{padding:1.451875rem 0 0 0.859rem;}
.title{font-size:0.84375rem;color:#FFFFFF;font-family: 'jaguarjcbold';height:0.9rem;line-height:0.9rem;}
.sub_title{font-size:0.5rem;color:#666666;font-family: 'jaguarjcbold';height:0.5625rem;line-height:0.5625rem;}
.index{height:100%;}
.menu{width:74.667%;margin: 0 auto;padding:2.5rem 0;position:relative;height:78%;box-sizing:border-box;}




.swiper_hidden{height:51%;@extend .abs_ver_cen;left:0;width:100%;}
.swiper_container{height: 252.875px;padding:0 0 2px 0;}
.swiper_slide{position:relative;  visibility: hidden;
  a{display: block;width:100%;height:100%;position:relative;
    -webkit-transform:scale(0.80);transform:scale(0.80);opacity: 0;background: rgb(255,255,255);
    -webkit-transition: 300ms;transition: 300ms;color:#000000;
  }
  .if{font-size:0.65rem;@extend .abs_ver_cen;position:absolute;display:block;
    width:100%;text-align:center;font-weight: 400;}
  .icon{
    display: none;
  }
}
.swiper_slide_visible a,.swiper_slide_closest_active a,.swiper_slide_closer_active a,.swiper_slide_close_active a{-webkit-transform: scale(0.80);transform: scale(0.80);font-size:0.525rem;}
.swiper_slide_visible a{opacity: 0;}
.swiper_slide_closest_active a{opacity:0.7;}
.swiper_slide_closer_active a{opacity:0.3;}
.swiper_slide_close_active a{opacity:0.2;}
.swiper_slide_close_active,.swiper_slide_closer_active,.swiper_slide_closest_active{ visibility: visible;}
.swiper_slide_active {top: 0;margin:0.15625rem 0; visibility: visible;
  a{color:#000000;opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
  .if{font-size:0.65rem;font-family: 'jaguarjcbold';}
}
.slide_mask{position:absolute;left:0;top:0;right:0;bottom:0;display:block;}
.swiper_slide_active .slide_mask{display:none;}
.swiper_pagination_switch{padding:0 5px;display:inline-block;height:20px;background:#fff;margin:0 20px;position:relative;z-index:2;}

.footer{z-index: 10;}
.set{position:absolute;bottom:0.425rem;left:0.425rem;z-index: 1;}
.music{position:absolute;bottom:0.425rem;right:0.425rem;z-index: 1;}
.set,.music{display: inline-block;height:1rem;}
.icon{width:1rem;height: 100%;display: block;}
.setting{width:1.2rem;height: 1.2rem;
  &:before{content:"\e60c";display: block;color:#ffffff;font-size:0.59375rem;width:100%;height: 100%;
    border-radius:100%;line-height:1.2rem;text-align: center;@extend .iconfont;}
}
.volume_medium{width:1.2rem;height: 1.2rem;
  &:before{content:"\e607";display: block;color:#ffffff;font-size:0.59375rem;width:100%;height: 100%;
    border-radius:100%;line-height:1.2rem;text-align: center;@extend .iconfont;}
}
.volume_no{
  &:before{content:"\e613";}
}

/* partner */
#partner_section,#partner_detail_section{background: rgba(0,0,0,1);}
.partner_nav,.souvenir_nav,.product_nav,.news_nav{width:100%;}
.btn_back,.btn_city,.btn_search,.ico_close,.btn_share,.btn_wb,.btn_xx,.btn_wx,.btn_close{
  width:1.125rem;height:1.125rem;background:rgba(0,0,0,.6);display:block;border-radius:100%;
  position: relative;z-index: 5;margin-top:0.6rem;
  &:before{display:block;@extend .iconfont;font-size:0.68rem;@extend .abs_ver_cen;text-align:center;height:100%;line-height:1.125rem;width:100%;left:0;}
  
  &:active{background:rgba(255,255,255,.6);
    &:before{color:#000;}
  }
}
.btn_back{float:left;margin-left: 0.46875rem;
  &:before{content:"\e601";}
}
.btn_city{float:right;margin-right:0.46875rem;
  &:before{content:"\e60e";}
}
.btn_search{float:right;margin-right: 0.46875rem;
  &:before{content:"\e60b";}
}
.partner_map{width:100%;padding-top:107.8667%;position:relative;}
#allmap,#allothermap{position:absolute;left:0;top:0;bottom:0;right:0;}
.partner_item,.partner_list_item{padding:0.5rem 0;border-bottom:1px solid #2a2a27;position:relative;}
.partner_item:last-child,.partner_list_item:last-child{border-bottom: 0;}
.partner_lis,.partner_other_lis,.partner_list_lis{width:80%;margin:0 auto;}
.partner_tit{font-size:0.59375rem;color:#fefefe;line-height: 0.8125rem;width:80%;@extend .dot;@extend .heiti;}
.tele,.addr{font-size:0.4375rem;color: #999999;line-height: 0.65625rem;}
.addr{@extend .xihei;@extend .dot;width:100%;}
.distance{position: absolute;font-size:0.5625rem;color:#fefefe;right:0;top:0.5rem;line-height: 0.625rem;}
.btn_more{font-size:0.375rem;color:#999;display: block;line-height:1.2rem;padding:0.3rem 0;text-align: center;@extend .xihei;}


/* partner search */
#partner_search_article{background: rgba(0, 0, 0, 0.85);padding:2.7375rem 0 0 0;visibility: visible;z-index:8;overflow:visible;}
.search_result{height:85%;height:-webkit-calc(100% - 2.5875rem);height:calc(100% - 2.5875rem);position: relative;margin-top:0.5rem;}
#partner_search_article > #tag_close_popup{position: absolute;top: 0;left: 0;right: 0;height: 2.7375rem;
}
.ico_close{background:#ffffff;position:absolute;right:0.46875rem;top:0;
  &:before{content:"\e602";color:#000000;}
}
.search_pt{background: #1c1c1c;height: 100%;padding:0.9375rem 0 0 0;
  -webkit-animation:slideUpIn .2s ease-in;animation:slideUpIn .2s ease-in;
  -webkit-animation-delay:0.2s;animation-delay:0.2s;
  -webkit-animation-fill-mode:backwards;animation-fill-mode:backwards;
}
.search_form{width:82%;margin:0 auto;padding:0.25rem 2.4375rem 0.25rem 0.46875rem;font-size:0.53125rem;line-height:0.75rem;position:relative;background:#333333;}
.search_input{width:100%;font-size:0.53125rem;line-height:0.75rem;border:0;outline:0;background:#333333;color:#ffffff;height:0.75rem;padding:0;}
.btn_search_input{position:absolute;right:0;top:0;width:2.125rem;padding:0.25rem 0;text-align:center;display:block;line-height:0.75rem;background:#666666;
  &:active{background:#ffffff;color:#000000;}
}
.search_lis{@extend .heiti;}
.search_ln{display:block;position:relative;
  &:active{background:#ffffff;color:#000000;
    .item_wr{border-bottom-color:#ffffff;}
  }
}
.search_name{float:left;max-width:80%;@extend .dot;}
.search_GPS .search_name:after{content:"（GPS当前城市定位）";}
.search_num{float:right;}
.item_wr{@extend .clearfix;width:82%;margin:0 auto;border-bottom:1px solid #2a2929;line-height:0.875rem;padding:0.5rem 0;font-size:0.59375rem;}
.search_num{color:#999999;@extend .xihei;}

/* partner-detail */
.btn_share{float:right;margin-right:0.46875rem;position:relative;z-index:2;
  &:before{content:"\e60d";}
}
.partner_detail_map{width:100%;padding-top:80%;position: relative;}
#partmap{position:absolute;left:0;top:0;bottom:0;right:0;}
.detail_content{width:82%;margin:0 auto;padding:0.84375rem 0 0 0;}
.tit_partner{/*padding:0.6875rem 0 0 0;*/position: relative;font-size:0.65625rem;text-align: center;line-height: 1rem;color:#ffffff;
  /*&:before{content:"";width:100%;height: 1px;position: absolute;top:0.4375rem;left:0;
    background: -webkit-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(35,35,35,0.8) 40%,rgba(35,35,35,0.8) 60%,rgba(0,0,0,0) 100%);
    background: linear-gradient(left,rgba(0,0,0,0) 0%,rgba(35,35,35,0.8) 40%,rgba(35,35,35,0.8) 60%,rgba(0,0,0,0) 100%);
  }
  &:after{content:"\e60f";@extend .iconfont;width:1.11rem;height:0.78125rem;background: #000000;position: absolute;left:50%;
    top:-0.15rem;font-size:1.08125rem;line-height: 1.08125rem;text-align: center;-webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);color:#2C2C2C;
  }*/
}
.de_par_wr{width:100%;padding-top:56.40%;margin:0.4375rem 0;position:relative;overflow: hidden;}
.de_par_img{width:100%;max-width: 100%;position:absolute;top:0;left:0;}
.de_par_time{font-size:0.3125rem;line-height: 0.6rem;color:#999999;text-align: center;}
.de_par_mes{padding-left:0.78125rem;font-size:0.53125rem;line-height:0.78125rem;@extend .heiti;color:#cccccc;
  margin:0.84375rem 0;position:relative;font-family: "palmassiregular","\534E\6587\7EC6\9ED1";text-align: justify;
  &:before{display: block;position: absolute;font-size:0.63125rem;line-height:0.78125rem;color:#cccccc;
    top:0;left:0;width:0.625rem;height:0.625rem;@extend .iconfont;}
}
.mes1:before{content:"\e600";}
.mes2:before{content:"\e608";}
.mes3:before{content:"\e605";}
.mes2{padding-right:1.125rem;word-break: break-all;}
.btn_tele{width:1.125rem;height: 1.125rem;background: #2C2C2C; position: absolute;top:0;right:0;display:block;
  &:before{content:"\e609";display: block;width:100%;height: 100%;line-height: 1.125rem;font-size:0.6rem;text-align:center;
    @extend .iconfont;
  }
  &:active{background: #ffffff;
    &:before{color:#000000;}
  }
}
.partner_route{background:rgba(0,0,0,.2);z-index:2;visibility: visible;}
.route_shadow{position:absolute;left:0;top:0;bottom:0;right:0;z-index:1;}
.partner_detail_route{position:absolute;z-index:2;bottom:0.2rem;padding:0 0.3rem;left:0;right:0;font-size:0.5rem;line-height:1.4rem;@extend .xihei;text-align:center;}
.lis_route{background:rgba(255,255,255,.9);border-radius:3px;margin-bottom:0.2rem;}
.btn_route_close{background:#fff;border-radius:3px;color:#000;display:block;}
.route_ln{display:block;color:#000;
  &:active,&:hover{color:rgba(0,0,0,.9);}
}
.route_it{border-bottom:1px solid #aaa;}
.route_it:last-child{border-bottom:0;}
.de_img_tit{font-size:0.4375rem;color:#cccccc;line-height: 0.5rem;font-family: "Helvetica";}
.detail_item{padding-bottom:1rem;}
.pull_scroll{font-size:0.4375rem;color:#999999;@extend.xihei;text-align: center;
  .pull_scroll_icon{vertical-align: middle;padding:0 0.15rem;
    &:before{@extend .iconfont;}
  }
  .arrow_down_2:before{content:"\e60a";}
  .icon_reverse:before{content:"\e61c";}
  .spinner:before{content:"\e61b";-webkit-animation:refresh 1s ease-in infinite;animation:refresh 1s ease-in infinite;}
}
@-webkit-keyframes refresh{
  0%{-webkit-transform:rotate(0);}
  100%{-webkit-transform:rotate(360deg);}
}
@keyframes refresh{
  0%{-webkit-transform:rotate(0);}
  100%{-webkit-transform:rotate(360deg);}
}

.partner_tip_if{font-size:0.4375rem;color:#666;@extend .xihei;line-height:0.65rem;padding:0.5rem 0 0 0;}
.partner_if{font-size:0.4375rem;color:#666;@extend .xihei;line-height:0.65rem;}
.share_group{position: absolute;right:0.46875rem;top:1rem;@extend .clearfix;opacity:0;}
.share_active,.share_remove{opacity:1;z-index:3;}
.btn_wb,.btn_xx,.btn_wx,.btn_close{float: left;margin-right:0.46875rem;}
.btn_wb:before{content:"\e611";}
.btn_xx:before{content:"\e606";}
.btn_wx:before{content:"\e612";}
.btn_close:before{content:"\e602";}
.share_active .btn_wb,.share_active .btn_xx,.share_active .btn_wx{-webkit-animation:shareAn 0.2s ease-in;animation:shareAn 0.2s ease-in;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards;}
.share_active .btn_xx{-webkit-animation-delay:0.1s;animation-delay:0.1s;}
.share_active .btn_wb{-webkit-animation-delay:0.3s;animation-delay:0.3s;}
.share_remove .btn_wb,.share-remove .btn-xx,.share-remove .btn-wx{-webkit-animation:shareReAn 0.2s ease-in;animation:shareReAn 0.2s ease-in;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
.share_remove .btn_xx{-webkit-animation_delay:0;animation-delay:0;}
.share_remove .btn_wb{-webkit-animation-delay:0;animation-delay:0;}
@-webkit-keyframes shareAn{
  0%{-webkit-transform:translate(100px,0);opcity:0;}
  100%{-webkit-transform:translate(0,0);opcity:1;}
}
@keyframes shareAn{
  0%{transform:translate(100px,0);opcity:0;}
  100%{transform:translate(0,0);opcity:1;}
}
@-webkit-keyframes shareReAn{
  0%{-webkit-transform:translate(0,0);opcity:1;}
  100%{-webkit-transform:translate(0,20px);opcity:0;}
}
@keyframes shareReAn{
  0%{transform:translate(0,0);opcity:1;}
  100%{transform:translate(0,20px);opcity:0;}
}

/* setting */
#setting_section{background:black;
  .setting_nav{position:absolute;right:0.425rem;z-index:2;}
}

.setting_lis{width:9.375rem;margin:0 auto;padding:0.36rem 0 2rem 0;}
.setting_it{border-bottom:1px solid #1a1a1a;position:relative;}
.tit_setting,.tit_setting_main{font-size:0.59275rem;@extend .heiti;color:#fff;line-height:2.5rem;height:2.5rem;
  a{display:block;width:100%;height:100%;padding:0.8rem 0;line-height:0.9rem;}
}
.tit_setting_main{line-height: 1.56rem;height:1.8rem;}
.lis_app{@extend .clearfix;
  .app{float:left;margin:0 0.7rem 0 0;width:2.5rem;}
  .app:nth-child(3n){margin-right:0;}
  [class^='app_ln']{padding:2.875rem 0 0.5rem 0;width:2.5rem;font-size:0.4375rem;
    position:relative;display:block;text-align:center;line-height:0.5rem;opacity: 0;-webkit-transform: scale(0);
    transform: scale(0);-webkit-transition-property: -webkit-transform;transition-property: transform;
    -webkit-transition-duration: 1s;transition-duration: 1s;-webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);@extend .palmassi;
    &:before{position:absolute;left:0;top:0;width:2.5rem;height:2.5rem;background:#333333;border-radius:100%;color:#fff;
      font-size:1.4rem;@extend .iconfont;line-height:2.5rem;
    }
  }
  .app_no [class^='app_ln']{color:#333333;
    &:before{color:#000000;}
  }
}
.app_ln1:before{content:'\e612';}
.app_ln2:before{content:'\e606';}
.app_ln3:before{content:'\e611';}
.app_ln4:before{content:'\e604';}
.app_ln5:before{content:'\e603';}
.app_ln6:before{content:'\e610';}
#setting_section.active{
  [class^='app_ln']{-webkit-transform: scale(1);transform: scale(1); opacity: 1;
    &:active{opacity: 0.8;}
  }
  .app-no [class^='app_ln']{color:#333333;
    &:active{opacity: 1;}
  }
}
.version{position:absolute;right:0;top:0;font-size:0.59275rem;@extend .heiti;line-height:2.5rem;height:2.5rem;color:#fff;}
.tit_link a{padding-top:0.6rem;}
.email_if{position:absolute;left:0;bottom:0.5625rem;font-size:0.4375rem;@extend .xihei;line-height:0.5rem;color:#999;} 
.btn_email{@extend .abs_ver_cen;right:0;width:1.125rem;height:1.125rem;background:#333333;
	&:before{content:"\e61d";display: block;width:100%;height: 100%;line-height: 1.125rem;font-size:0.6rem;text-align:center;
    @extend .iconfont;
  }
  &:active{background: #ffffff;
    &:before{color:#000000;}
  }
} 


/*share*/
[id$='share_section']{background: rgba(255,255,255,.95);
  [class^='app_ln']{color:#333;-webkit-transform:opacity .2s ease-in;transform:opacity .2s ease-in ;-webkit-transform: scale(1);
    transform: scale(1);}
}

.share_wrap{width:9rem;position:absolute;left:50%;top:50%;margin:-3.5rem 0 0 -4.5rem;z-index:10;}
.share_nav{position: absolute;right:0.5rem; z-index: 4;
  .btn_close{background: rgba(0, 0, 0, 0);color:#333;margin-right:0;}
}
.share_active{visibility: visible;}
[id$='share_section'] .share_active{
  [class^='app_ln']{-webkit-animation:appIcon .4s ease-in;animation:appIcon .4s ease-in;
    -webkit-animation-fill-mode:backwards;animation-fill-mode:backwards;opacity: 1;}
  .app_ln2{-webkit-animation-delay: .05s;animation-delay: .05s;}
  .app_ln3{-webkit-animation-delay: 0s;animation-delay: 0s;}
  .app_ln1{-webkit-animation-delay: .1s;animation-delay: .1s;}
  .app_ln4{-webkit-animation-delay: .2s;animation-delay: .2s;}
  .app_ln5{-webkit-animation-delay: .15s;animation-delay: .15s;}
  .app_ln6{-webkit-animation-delay: .25s;animation-delay: .25s;}
}
[id$='share_section'] .lis_app_close{
  [class^='app_ln']{-webkit-animation:appIconClose .2s ease-in;animation:appIconClose .2s ease-in;-webkit-animation-fill-mode:backwards;animation-fill-mode:backwards;opacity: 0;}
  .app_ln2{-webkit-animation-delay: .04s;animation-delay: .04s;}
  .app_ln3{-webkit-animation-delay: 0s;animation-delay: 0s;}
  .app_ln1{-webkit-animation-delay: .08s;animation-delay: .08s;}
  .app_ln4{-webkit-animation-delay: .16s;animation-delay: .16s;}
  .app_ln5{-webkit-animation-delay: .12s;animation-delay: .12s;}
  .app_ln6{-webkit-animation-delay: .2s;animation-delay: .2s;}
}
@-webkit-keyframes appIcon{
  0% {-webkit-transform: translateY(500px);}
  65% {-webkit-transform: translateY(-15px);}
  100% {-webkit-transform: translateY(0px);}
}
@keyframes appIcon{
  0% {transform: translateY(500px);}
  65% {transform: translateY(-15px);}
  100% {transform: translateY(0vh);}
}

@-webkit-keyframes appIconClose{
  0% {-webkit-transform: translateY(0px);opacity: 1;}
  35% {-webkit-transform: translateY(15px);opacity: 1;}
  100% {-webkit-transform: translateY(-500px);opacity: 0;}
}
@keyframes appIconClose{
  0% {transform: translateY(0px);opacity: 1;}
  35% {transform: translateY(15px);opacity: 1;}
  100% {transform: translateY(-500px);opacity: 0;}
}
.close_bg{position: absolute;left:0;top:0;right:0;bottom:0;z-index:4;}



/* souvenir */
#souvenir_section,#souvenir_detail_section,#product_section,#product_detail_section,#news_section,#news_detail_section{background: #ffffff;}
.souvenir_it{width:100%;border-top:1px solid #fff;min-height:155px;}
.souvenir_ln{display: block;width:100%;position: relative;
  .souvenir_tit{font-size:0.75rem;line-height: 1rem;}
  .souvenir_titsub{padding-top:0rem;}   
}
.souvenir_pic{width:100%;max-width: 100%;}
.souvenir_group{position: absolute;bottom:0;left:0;right:0;height: 2.65625rem;padding:0.8rem 0 0.3125rem 0.9375rem;
  background: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.4));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.4));
}
.souvenir_it:nth-child(2n) .souvenir-group{text-align: right;padding:0.8rem 0.9375rem 0.3125rem 0;}


/* souvenir detail*/
//#souvenir_detail_section{background: url(../pics/souvenir.jpg) 0 -130px no-repeat;background-size: 100% auto;}
.souvenir_cont{width:78.67%;margin:0 auto;color:#000;@extend .heiti;padding:0 0 0.41rem 0;
  .de_par_mes{color:#999999;  margin: 0.14375rem 0;}
}
.souvenir_tit,.souvenir_titsub{font-size:0.65625rem;line-height: 0.8rem;@extend .palmassi;font-weight:500;}
.souvenir_titsub{font-size:0.5625rem;line-height:0.6rem;@extend .heiti;padding-top:0.9rem;padding-bottom:0.1rem;}
.money{padding:0.6475rem 0 0.4175rem 0;@extend .clearfix;}
.money_prize,.money_limit{float: left;}
.money_prize{font-size: 0.8125rem;line-height:1rem;
  span{font-size:0.59375rem;}
}
.money_limit{font-size:0.4375rem;position: relative;color:#fff;background: #e90000;line-height: 0.5rem;
  height: 0.5rem;vertical-align: bottom;margin: 0.3rem 0.3rem;padding:0 0.2rem;
  &:after{content:'';display: block;width:3px;height: 5px;background: #fff;right:0;bottom:0;position: absolute;}
}
.mes4:before {content: "\e614";}
.btn_buy,.btn_share_big,.btn_submit{width:100%;display: block;font-size:0.53125rem;@extend .xihei;text-align: center;line-height: 0.7625rem;padding:0.4rem 0;}
.btn_no{cursor: default;background: #333;color:#999;
  &:hover{color:#999;}
}
.slide_pics{width:100%;position: relative;overflow: hidden;
  .line{content:"";display: block;width:25%;height:2px;background: #333;left:0;bottom:0;
    position: absolute;z-index:2;-webkit-transition:left .2s ease-in;transition:left .2s ease-in;}

}
.souvenir_pics{width:100%;position: relative;}
.pic{min-height:100px;
  img{width:100%;max-width:100%;}
}
.pic_nav{position: absolute;bottom:0rem;right:0.7rem;z-index: 4;font-size:0.4375rem;color:#ffffff;line-height:1rem;}
.souvenir_match{width: 78.67%;margin: 0 auto;@extend .palmassi;color:#000;border-top:1px solid #e5e5e5;padding:0 0 0.41rem 0;}
.souvenir_titmat{font-size:0.4375rem;line-height:0.6rem;padding:0.3rem 0;}
.match_if{font-size:0.53125rem;line-height:0.8rem;}
.match_person{position:relative;
  &:before{content:"";display:block;width:40%;height:1px;position:absolute;top:50%;right:40%;
    background: -webkit-linear-gradient(left,rgba(255,255,255,.3) 0%, #d6d6d6 100%);
    background: linear-gradient(left,rgba(255,255,255,.3) 0%, #d6d6d6 100%);
  }
}
.match_name{margin-right:1.8rem;font-size:0.4375rem;height:1.5625rem;line-height:0.7625rem;padding:0.4rem 0;color:#999;text-align: right;}
.match_pic{width:1.5625rem;height:1.5625rem;border-radius:100%;position:absolute;right:0;top:0;}

.souvenir_form{position:absolute;left:0;top:0;right:0;bottom:0;background: rgba(0,0,0,.9);z-index: 6;
  -webkit-transform: translate(0,100%);transform: translate(0,100%);opacity: 0;
  -webkit-transition:-webkit-transform .2s ease-in,opacity .2s ease-out .2s;transition:transform .2s ease-in,opacity .2s ease-out .2s;
}
.souvenir_form.active{-webkit-transform: translate(0,0);transform: translate(0,0);opacity: 1;
  -webkit-transition:-webkit-transform .2s ease-in,opacity .2s ease-out;transition:transform .2s ease-in,opacity .2s ease-out;
}

.tit_souvenir_form{font-size:0.53125rem;line-height:0.8rem;color:#fff;text-align: center;@extend .heiti;
  font-weight: 500;padding:1.25rem 0 1.25rem 1.59375rem;}
.souvenir_form_pt{padding:0.25rem 0;}
.souvenir_form_pt{color:#fff;width:78.667%;margin:0 auto;font-size:0.53125rem;@extend .xihei;}
.sou_form_tip{font-size:0.4375rem;color:#999;line-height:0.6rem;width:90%;margin:0 auto;text-align:center;
  padding:0.8rem 0;
}
.sou_form_it{@extend .clearfix;height:1.875rem;position: relative;border-bottom:1px solid #2b2b2b;
}
.sou_form_lb{width:100%;display:block;line-height:0.875rem;padding:0.5rem 0;
  &:after{content:"\e61e";@extend .iconfont;position:absolute;right:0;top:0;display:block;font-size:0.53125rem;
    line-height:0.875rem;padding:0.5rem 0;height:0.875rem;width:10px;z-index:3;color:#4c4c4c;}
}
.sou_form_ip{width:67%;position:absolute;right:10px;top:0;border:0;outline: 0;background:none;font-size:0.53125rem;
  line-height:0.875rem;padding:0.5rem 0;color:#999;text-align: right;}
.sou_form_ip[type="date"]{
  &::-webkit-datetime-edit-text{color:rgba(0,0,0,.0);
    &:after{content:"-";color:#999;margin-right:0.53125rem;}
  }
}
.souvenir_nav .btn_close{margin-right: 0.46875rem;float:right;}
.btn_submit{border:0;outline: 0;-webkit-appearance: none;background:#333333;}

/* product */
.product_nav{z-index:5;
  .btn_back,.btn_share{background:none;margin-left: 0.5rem;
    &:before{color:#808080;}
  }
}   
.tit_product,.tit_souvenir,.tit_news,.tit_partner_list{font-size:0.59375rem;color:#000;padding:0.6rem 1.5rem 0 1.8rem;line-height: 1.125rem;@extend .eng;font-weight: 500;}
.pro_mes{position:relative;z-index:2;@extend .palmassi;}
.pro_it{padding:0 1.5rem;}
.pro_ln{color:#000;padding-right:42%;position:relative;display:block;width:100%;min-height:9.5rem;padding-top:1rem;
  border-bottom:1px solid rgba(0,0,0,.08);
  &:hover{color:#000;}
}
.pro_name{width:80%;}
.pro_name,.pro_sub{font-size:0.8125rem;line-height:0.8rem;}
.pro_sub,.pro_tip{color:#b5b6b6;}
.pro_if,.pro_tip{font-size:0.375rem;padding:0.65625rem 0 0.1rem 0;line-height:0.5rem;}
.pro_tip{padding:0rem;}
.pro_if{width:4.3rem;}
.pro_img{position:absolute;right:0;top:1.15rem;width:3.3125rem;height:7.1875rem;z-index:1;}
.pro_pic{width:100%;max-width:100%;position:relative;z-index:2;}
.pro_img{
  &:before,&:after{content:"";display:block;width:5.6rem;height:0.8rem;border-radius:100% 100%;background:-webkit-radial-gradient(rgba(0,0,0,.4) 0%, rgba(0,0,0,.2) 35%, rgba(0,0,0,.0) 60%);
    position:absolute;bottom:-0.3rem;}
  &:before{left:-25%;}
  &:after{right:-25%;}
}
.shadow{display: block;width:100%;height:2rem;background: -webkit-linear-gradient(top,rgba(255,255,255,.8) 0%,rgba(255,255,255,0));
  background: linear-gradient(top,rgba(255,255,255,.5) 0%,rgba(255,255,255,.3));
  position: fixed;left:0;top:0;z-index: 4}
.product_lis{padding-bottom:4.375rem;position: relative;
  &:before{content:"";width:100%;height: 1px;position: absolute;bottom:0.7rem;left:0;
    background: -webkit-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(35,35,35,0.08) 40%,rgba(35,35,35,0.08) 60%,rgba(0,0,0,0) 100%);
    background: linear-gradient(left,rgba(0,0,0,0) 0%,rgba(35,35,35,0.08) 40%,rgba(35,35,35,0.08) 60%,rgba(0,0,0,0) 100%);
  }
  &:after{content:"\e618";@extend .iconfont;width:1.11rem;height:0.78125rem;position: absolute;left:50%;
    bottom:0.5rem;font-size:1.08125rem;line-height: 1.08125rem;text-align: center;-webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);color:#cccccc;background: #ffffff;
  }
}

/*product_detail*/
#product_detail_section.active{
  .pro_img{opacity: 1;}
  .pro_img img{-webkit-animation: slideDown 1s ease .2s;animation: slideDown 1s ease .2s;
    -webkit-animation-fill-mode:backwards;animation-fill-mode:backwards;
  }
  .pro_img:before,.pro-img:after{-webkit-animation: scaleShadow 1s ease .2s;animation: scaleShadow 1s ease .2s;
    -webkit-animation-fill-mode:backwards;animation-fill-mode:backwards;
  }
}
.pro_de_it{width:75%;margin:0 auto;
  .pro_ln{padding-top:2.2rem;border-bottom:0;}
  .pro_img{top:2.2rem;opacity: 1;}
}

.pro_de_content{padding-bottom:1rem;}
.mes5,.mes6,.mes7{color:#000;}
.mes8{color:#999;}
.mes5:before {content: "\e617";}
.mes6:before {content: "\e616";}
.mes7:before {content: "\e615";}
.mes8:before {content: "\e605";}

@-webkit-keyframes slideDown {
  0% {-webkit-transform: translateY(-200%);}
  50%{-webkit-transform: translateY(4%);}
  65%{-webkit-transform: translateY(-2%);}
  80%{-webkit-transform: translateY(2%);}
  95%{-webkit-transform: translateY(-1%);}
  100% {-webkit-transform: translateY(0%);}
}
@keyframes slideDown {
  0% {transform: translateY(-200%);}
  50%{transform: translateY(4%);}
  65%{transform: translateY(-2%);}
  80%{transform: translateY(2%);}
  95%{transform: translateY(-1%);}
  100% {transform: translateY(0%);}
}

@-webkit-keyframes scaleShadow {
  0% {-webkit-transform: scale(0);opacity: 0;}
  50%{-webkit-transform: scale(0.8);}
  65%{-webkit-transform: scale(1);}
  80%{-webkit-transform: scale(0.8);}
  95%{-webkit-transform: scale(1);}
  100% {-webkit-transform: scale(1);opacity: 1;}
}
@keyframes scaleShadow {
  0% {transform: scale(0);opacity: 0;}
  50%{transform: scale(0.8);}
  65%{transform: scale(1);}
  80%{transform: scale(0.8);}
  95%{transform: scale(1);}
  100% {transform: scale(1);opacity: 1;}
}





/* news  */
.news_group{width:80%;margin:0.72rem auto;@extend .palmassi;}
.news_main{font-size:0.65625rem;Width:100%;@extend .dot;color:#000;line-height:0.8rem;@extend .heiti;font-weight: 500;}
.news_if{font-size:0.4375rem;color:#999;line-height:0.76rem;font-weight: 500;}

/* news detail */
.news_nav,.souvenir_nav{z-index:5;
  .btn_back,.btn_share{background:rgba(255,255,255,0.7);margin-left: 0.46875rem;
    &:before{color:#808080;}
  }
  .btn_share{margin-right: 0.46875rem;}
}
.news_item{@extend .palmassi;padding:0 0 3.125rem 0;}
.news_head{position: relative;width:100%;padding-top:64%;overflow: hidden;
  &:before{content:"";display: block;width:100%;position: absolute;left:0;top:0;bottom:0;z-index: 1;
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.0) 100%);
    background: linear-gradient(bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.0) 100%);
  }
}
.news_ban{position: absolute;left:0;right:0;bottom:0;top:0;width:100%;}
.news_tit{font-size:0.65625rem;color:#fff;position: absolute;left:10.67%;width:80%;bottom:1rem;@extend .palmassi;
  font-weight: 500;line-height:0.8rem;z-index: 2;}
.news_time{position: absolute;left:10.67%;@extend .palmassi;font-size:0.4375rem;line-height:0.6rem;bottom:0.47rem;
  color:#b5b6b6;z-index: 2;}
.news_content{font-size:0.53125rem;color:#000;line-height:0.68rem;margin:0.5375rem 0;
  p{margin:0.875rem auto;width:85%;}
  a{color:#c8001c;text-decoration: underline;padding:0 0.1rem;}
}
.news_content_word{text-indent:2em;text-align: justify;}
.news_it{margin:0.3375rem 0;}
.news_lis_wr,.news_pic_wr,.souvenir_pic_wr{width:100%;padding-top:48%;overflow: hidden;position: relative;}
.souvenir_pic_wr{padding-top:48.125%;}
.news_pic,.souvenir_pic{width:100%;max-width: 100%;position: absolute;top:0;left: 0;}


/* welcome */
#jingle_welcome{position: absolute;top:0;left: 0;bottom: 0;right: 0;z-index: 999;overflow: hidden;background-color: #000;color:#999;
}
.slide_it{font-size:0.4375rem;line-height:0.71875rem;@extend .top_to_bottom;position:absolute;left:0;right:0;top:0;bottom:0;@extend .palmassi;}
.slide_it1{z-index:2;background-color: #000;
	.slide_wr{width:100%;height:13.9375rem;background-image:url(../imgs/action.png);background-position:center top;background-repeat:no-repeat;background-size:auto 100%;}
}
.slide_it2{z-index:1;
  background:-webkit-linear-gradient(top ,#000 10%,#fff 100%);
  background:linear-gradient(top ,#000 0%,#fff 100%);
  .slide_tit{font-size:0.5625rem;}
  .slide_logo_wr{width:2.34375rem;height:2.34375rem;border-radius:100%;background:#eec400;@extend .top_to_bottom;position:absolute;right:-0.3rem;top:2.1rem;}
  .slide_site{zoom:0.55;}
}
.slide_tit{font-size:0.5rem;color:#fff;font-weight:400;
  em{font-weight:500;}
}
.slide_cont{text-align:center;margin:0.703125rem 0;}
.slide_logo{background:url(../imgs/logo.png);background-size:100% 100%;width:80px;padding:60px 0 0 0;margin:0 auto;}
.slide_site{padding-top:2rem;position:relative;
  &:before{content:"";display:block;background:url(../imgs/site.png);background-size:100% 100%;width:4.21875rem;height:6.421875rem;margin:0 auto;}
  &:after{content:"";display:block;background:#727272;width:2.34375rem;height:0.3125rem;margin:5px auto;border-radius:100%;}
}
.slide_main{padding:0.78125rem 0 ;font-size:0.84375rem;color:#333;font-weight:400;@extend .palmassi;}
.slide_btn{width:79%;margin:0 auto;}
.btn_start{display:block;width:100%;font-size:0.53125rem;@extend .palmassi;color:#fff;line-height:0.73875rem;padding:0.4rem 0 ;text-align:center;background:#333;border:0;outline:none;
  &:active{opacity:0.8;}
}
.slideHide{-webkit-animation:slideHide ease-out .2s 2s;animation:slideHide ease-out .2s 2s;}
@-webkit-keyframes slideHide {
  0% {-webkit-transform: scale(1);opacity: 1;}
  20%{-webkit-transform: scale(0.9);}
  100% {-webkit-transform: scale(10);opacity: 0;}
}
@keyframes slideHide {
  0% {transform: scale(1);opacity: 1;}
  20%{transform: scale(0.9);opacity: 0;}
  100% {transform: scale(5);opacity: 0;}
}


/*history*/
#history_article{z-index: 2;}
.history_container,.history_detail_container{position: absolute;left:0;top:0;right:0;bottom:0;width:100%;height:100%;}
.history_wrapper{width:100%;height:100%;}
.his_it{height:20%;position:relative;display:block;overflow:hidden;width:100%;
  -webkit-transition: -webkit-transform .4s ease-in;transition: transform .4s ease-in;
}
.his_con{font-size:0.46875rem;line-height:0.625rem;@extend .xihei;color:#b5b6b6;position:absolute;left:14%;bottom:2%;z-index:2;}
.his_it_bg{position:absolute;left:0;top:0;z-index:1;opacity:1;height:500%;-webkit-background-size:100% auto;
  background-size:100% auto;width:100%;
  -webkit-transition: opacity .2s ease-in;transition: opacity .2s ease-in;-webkit-transition-delay: .2s;transition-delay: .2s;
}
.his_it_tit,.his_it_eng{-webkit-transition: -webkit-transform .2s ease-in;transition: transform .2s ease-in;margin:0;}
.his_it_tit{-webkit-transition-delay: .4s;transition-delay: .4s;}
.his_it_eng{-webkit-transition-delay: .6s;transition-delay: .6s;}
@for $i from 1 through 4{
  .his_it#{$i}_bg{background-image:url(../pics/his-pic#{$i}.jpg);}    
}  
.his_it1_bg{top:0%;}
.his_it2_bg{top:-100%;}
.his_it3_bg{top:-200%;}
.his_it4_bg{top:-300%;}
.his_it5_bg{background:url(../pics/his-it5.jpg);background-size:100% auto;width:100%;}  
.his_it_tit{font-size:0.90625rem;color:#fff;@extend .xihei;line-height:1.2rem;
  position: relative;  
  &:before{content:"\e61a"; position: absolute;left:-1rem;top:0;@extend .iconfont;color:#b5b6b6;font-size:0.65rem;}
}
.his_it_num{position:absolute;right:5%;bottom:2%;font-size:0.4375rem;color:#999;line-height:0.625rem;z-index:2;}
.his_it_up{-webkit-transform:translate(0,-400%);transform:translate(0,-400%);}
.his_it_down{-webkit-transform:translate(0,400%);transform:translate(0,400%);}
.his_it_active{
  .his_it_tit{-webkit-transform:translate(-200%,0);transform:translate(-200%,0);}
  .his_it_eng{-webkit-transform:translate(-200%,0);transform:translate(-200%,0);}
  .his_it_bg{opacity:0;-webkit-transition: opacity 0s ease-in;transition: opacity 0s ease-in;
    -webkit-transition-delay: 0s;transition-delay: 0s;}  
}
.his_slide {text-align: center;font-size: 18px; background: #fff;position:relative;overflow:hidden;}
.his_slide5_wr{height:84%;}
.pic_slideshow{@extend .clearfix;height:25%;}
.pic_slideshow_wr{height:100%;}
.pic_slide{float: left;height:100%;padding:1px 1px 0 0;
  img{height: 100%;width:auto;}
}
.his_slide_bg{position:absolute;left:0;top:0;z-index:1;width:100%;}

@-webkit-keyframes historyAct {
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes historyAct {
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@-webkit-keyframes historyWord {
  0%{-webkit-transform:translate(0,0);}
  100%{-webkit-transform:translate(-200%,0);}
}
@keyframes historyWord {
  0%{transform:translate(0,0);}
  100%{transform:translate(-200%,0);}
}

.content{position:absolute;z-index:2;font-size:0.46875rem;padding:5% 10%;
  line-height:0.625rem;@extend        .xihei;color:#ffffff;left:0;-webkit-transform:translate(0,600px);transform:translate(0,600px);
  -webkit-transition:-webkit-transform 1s cubic-bezier(.79,.31,.24,1.31) .2s;transition:transform 1s cubic-bezier(.79,.31,.24,1.31) .2s;
  p{margin:0.2rem 0 0.5rem 0;text-align: justify;}
  .his_it_eng{margin:0;color:#b5b6b6;}
}
.his_slide1 .content{bottom:3%;}  
.his_slide2 .content{bottom:5%;}
.his_slide4 .content{bottom:5%;}
.his_slide3 .content{bottom:5%;}
      
   
.his_slide_tit{font-size:0.65625rem;color:#fff;@extend .heiti;line-height:0.8rem;
  position: relative;
  &:before{content:"\e61a"; position: absolute;left:-0.6rem;top:0rem;@extend .iconfont;color:#b5b6b6;font-size:0.45625rem;}
}
.ico_slide_down{
  position: absolute;bottom:0.2%;left:50%;display: block;z-index: 3;margin-left:-0.75rem;line-height: 1.2rem;
  animation-name: floating;-webkit-animation-name: floating; animation-duration: 0.7s;-webkit-animation-duration: 0.7s;
  animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;

  &:before{content:"\e619";@extend .iconfont;font-size:1.5rem;color:#fff;}
}

.btn_share_wr {padding:0.5rem 0 0 0;}
.btn_share_wr .btn_share_big{opacity: 1;}


@-webkit-keyframes floating {
  0% {-webkit-transform: translateY(0%);}
  50% {-webkit-transform: translateY(12%);}
  100% {-webkit-transform: translateY(0%);}
}
@keyframes floating {
  0% {transform: translateY(0%);}
  50% {transform: translateY(12%);}
  100% {transform: translateY(0%);}
}



    
.his_slide_now .content{-webkit-transform:translate(0,0);transform:translate(0,0);}

.his_slide5_bg,.his_slide6_bg,.his_slide7_bg{width:100%;height:auto;}    
.his_pic_pt1{width:56.53%;margin:0 auto;}
.his_pic_wr{margin:1.25rem 0;text-align:center;}  
.his_pic{width:100%;}
.pic_cont{position:relative;z-index:4;height:100%;@extend .top_to_bottom;   
  .his_it_tit{margin:1.90625rem 0 0 2.78125rem;}
}

.his_time{margin:0.71875rem 0 0 0;font-size:0.71875rem;line-height:0.9rem;color:#fff;display:block;text-align:center;}
.his_time_if{text-align:center;font-size:0.53125rem;line-height:0.7rem;@extend .xihei;color:#999;}

.his_pic_pt2{width:100%;@extend .clearfix;position: relative;padding-bottom:2rem;
	@extend .left_to_right; 	  
    .his_pic_wr{margin:1rem 0;}      
	.his_time_if,.his_time{text-align:left;margin-top:0;}      
}  
.his_pic_col{width:50%;padding-left:10%;padding-right:5%;}      
.his_pic_col:nth-child(2){position:relative;top:2rem;padding-left:5%;padding-right:10%;}
    
.his_pic_pt3{width:73%;margin: 0 auto;position:relative;
  .his_pic_wr{text-align:left;margin: 0.25rem 0;}       
  .his_pic{width:60%;}
  .his_time_if,.his_time{text-align:left;} 
  .his_time{margin-top:0.3rem;}
  .his_pic_wr:nth-child(2){text-align:right;
    .his_pic{float:right;}	.his_time_if,.his_time{clear:both;text-align:right;}   
  }  
}

/* partner-lis */
.tit_partner_list{color:#fff;padding-left:0.5rem;}

@media only screen and (max-width: 400px) {
  html{font-size:220%;}
  .swiper_container{height:285px;}
}

@media only screen and (max-width: 380px) {
  html{font-size:200%;}
  .swiper_container{height:255px;}
}
@media only screen and (max-width: 360px) {
  html{font-size:180%;}
  .menu{width:80.667%;padding: 12.033% 0 0 0;}
  .swiper_container{height:227.5px;}
  .swiper_hidden{height: 230px;}
  .swiper_slide_visible a,.swiper_slide_closest_active a,.swiper-slide-closer-active a{font-size:0.65rem;}
  .swiper_slide_active .if{font-size:0.75rem;}
  .partner_map{width:100%;padding-top:102.8667%;position:relative;}  
  .pic_cont .his_it_tit{margin: 1.20625rem 0 0 2.78125rem;}
}
@media only screen and (max-width: 320px) {

  html{font-size:180%;}

}
@media only screen and (max-width: 250px) {

  html{font-size:120%;}

}
